.top-app-bar-container{
    height: 35px;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #316D38!important;
}
.top-toolbar{
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1120px;
}
.whatsBox{
    width: 30%;
    padding: 0!important;
    margin: 0;
}
.iconeWhats{
    margin-right: 5px;
    font-size: 14px!important;
}
.botoes-top{
    width: 100%;
    font-size: 10px!important;
    color: white!important;
    text-transform: none;
}
.botoesNav{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* 2 parte do navbar */
.app-bar-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #EF8C0A!important;
    background: transparent!important;
    box-shadow: none!important;
}
.search{
    margin-right: 24px;
    margin-top: 10px !important;
    width: 250px !important;
    height: 30px !important;
}

.buscar{
    font-size: 12px !important;
}

.box-botoes-sobrenos-contato{
    max-width: 1120px;
    width: 100%;
    margin-top: 5px;
    margin-right: 90px;
    display: flex;
    justify-content: flex-end!important;
    align-items: center;
    text-transform: none;
}
.botoes-sobrenos-contato {
    color: #EF8C0A!important;
    border-radius: 25px!important;
    width: 120px!important;
    text-transform: none !important;
    font-size: 12px !important;
}
.botoes-sobrenos-contato-cont {
    color: #EF8C0A!important;
    border-radius: 25px!important;
    width: 80px!important;
    text-transform: none !important;
    font-size: 12px !important;
}
.header-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1120px;
}

.icones{
    margin-right: 20px;
    margin-left: 5px;
    font-size: 30px!important;
    margin-bottom: 5px !important;
    margin-top: 20px !important;
}

.nav-botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100%;
    max-width: 1120px;
    margin-bottom: 15px;
    margin-top: 15px;
    
}
.botao-nav{
    border: 2px solid #EF8C0A!important;
    color: #EF8C0A!important;
    border-radius: 20px!important;
    width: 120px!important;
    height: 25px!important;
    font-size: 12.5px!important;
    text-transform: none!important;
    background-color: #fff!important;
}

.logo{
    image-rendering: optimizeQuality !important;
    width: 160px !important;
    margin-top: 30px !important;
    margin-left: 30px !important;
}