.top-app-bar-container{
    height: 35px;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #316D38!important;
}
.top-toolbar{
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1120px;
}
.whatsBox{
    width: 30%;
    padding: 0!important;
    margin: 0;
}
.iconeWhats{
    margin-right: 5px;
    font-size: 14px!important;
}
.botoes-top{
    width: 100%;
    font-size: 8px!important;
    color: white!important;
}
.botoesNav{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* 2 parte do navbar */
.app-bar-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #EF8C0A!important;
    /* background-color: aliceblue!important;
    color: #222!important; */
}
.search{
    margin-right: 32px;
}
.box-botoes-sobrenos-contato{
    max-width: 1120px;
    width: 100%;
    margin-top: -10px;
    margin-right: 80px;
    display: flex;
    justify-content: flex-end!important;
    align-items: center;
}
.botoes-sobrenos-contato {
    color: #EF8C0A!important;
    border-radius: 25px!important;
    width: 100px!important;
}
.header-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1120px;
}

.icones{
    margin-right: 25px;
    margin-left: 5px;
    font-size: 36px!important;
}

.nav-botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1120px;
    margin-bottom: 10px;
}
.botao-nav{
    border: 2px solid #EF8C0A!important;
    color: #EF8C0A!important;
    border-radius: 20px!important;
    width: 135px!important;
    height: 30px!important;
    font-size: 12px!important;
    text-transform: none!important;
}