.navbar-pai{
    background: transparent!important;
    color: #222!important;
    margin-top: 10px;
}

.navbar-tool{
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
}

.box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icones{
    padding: 5px;
}

.botoes-nav{
    display: flex;
    justify-content: center;
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
}
.botao{
    margin-top: 45px!important;
    margin-bottom: 28px!important;
    margin-right: 56px!important;
}