.top-nav{
    height: 45px;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: center;
}

.title{
    font-size: 12px;
    display:flex;
    align-items: center;
}

.iconeWhats{
    margin-right: 10px;
}
.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}