.home-container {
    max-width: 1120px;
    margin: 0 auto !important;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
  }
  
  .title-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
.tituloInicialHome{
  font-size: 24px !important;
  align-items: center;
  justify-content: center;
  color: #F04644;
  padding-left: 300px !important;
  padding-right: 300px !important;
}

.linhaHome {
    border: 1px solid #EF8C0A!important;
    width: 180px;
    background-color: #EF8C0A!important;
  }
